.hidden {
	visibility: hidden;
}

form input[type='number'] {
	width: 35px;
}

form > div {
	display: inline-block;
}

#maze div {
	font-size: 1px;
}

#maze > .row > div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.room {
	width: 15px;
	height: 15px;
}

.wall {
	background-color: black;
	width: 3px;
	height: 3px;
}

.wall.ns,
.door.ns {
	width: 15px;
	height: 3px;
}

.wall.ew,
.door.ew {
	width: 3px;
	height: 15px;
}

.room,
.door {
	background-color: gray;
}

.room.position {
	background-color: lightgreen;
}

.room.end {
	background-color: cyan;
}

.room.position.end {
	background-color: yellow;
}

#status {
	margin-bottom: 20px;
}

#game-over {

}

#game-over > h2 {
	margin: 10px 0;
}

#game-over > div {
	border-radius: 5px;
	border: 1px solid #000;
	display: inline;
	padding: 10px;
}

#rating {
	font-size: 24px;
}

nav {
	margin-top: 20px;
}

nav > div {
	margin-top: 5px;
}

nav > div > button {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	background-color: #eee;
	border: 1px solid #ccc;
}

#move-up,
#move-down,
#move-right {
	margin-left: 35px;
}